.toggle-theme-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    text-align: right;
    margin-right: 8px;
    float: right;
}

.dm-icon {
    font-size: 27px;
}

.toggle-theme {
    position: relative;
    display: inline-block;
    height: 34px;
    width: 68px;
}

.toggle-theme input {
    display: none;
}

.slider {
    background-color: #a6a6a6;
    position: absolute;
    cursor: pointer;
    bottom: 0;
    left: 0;
    right: 4px;
    top: 0;
    margin-right: 1px;
    transition: 0.2s;
}

.slider:before {
    background-color: #ffffff;
    bottom: 0;
    content: "";
    height: 35px;
    left: 0;
    position: absolute;
    transition: 0.4s;
    width: 34px;
}

input:checked + .slider:before {
    transform: translateX(30px);
}

input:checked + .slider {
    background-color: #003d99;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}